<div class="social-media social-media-second">
  <a href="#"><%= image_tag("facebook_icon.png")%></a>
  <a href="#"><%= image_tag("twitter.png")%></a>
</div>
<p>
  <strong>En iyi telefon hangisi?</strong>  
  <span>(2.133 <small>kez oylandı.</small>)</span>
</p>

<div class="col-md-12 padding-none">
  <ul id="myTab" class="product-selection">
    <div class="or-div"></div>
    <li class="active">
      <a data-toggle="tab" href="#home" class="answer_click">
        <div class="choose-option"></div>
          <p>iPhone 5S</p>
          <%= image_tag("product2.png")%>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#profile" class="answer_click">
        <div class="choose-option"></div>
          <p>Samsung Galaxy S5</p>
          <%= image_tag("product1.png")%>
      </a>
    </li>
  </ul>
</div>

