<%# @advertisements.each do |ad| %>
  <%#= render partial: "ad", locals: { ad: ad } %>
<%# end %>

  
<!--middle row start-->
<% @quizes.each do |q| %>
  <div class="row middle-row">
    <%= render partial: "quize", locals: { q: q } %>
  </div>
<% end %>
<!--middle row end-->



<script>
$(document).ready(function(){
  $(".first_answer_click").click(function() {
    var id = this.id
    $.ajax({
      type: 'POST',
      url: "/score_up",
      data:{ans_id: id, type: "fans"}
    });
    return false;
  });
  
  $(".second_answer_click").click(function() {
    var id = this.id
    $.ajax({
      type: 'POST',
      url: "/score_up",
      data:{ans_id: id, type: "sans"}
    });
    return false;
  });

  $(".vote_click").click(function() {
    var id = this.id
    $.ajax({
      type: 'POST',
      url: "/vote_up",
      data:{que_id: id}
    });
    return false;
  });  
});
</script>
