<!--middle row start-->
<% @quizes.each do |q| %>
  <div class="row middle-row <%= (q.id === @quizes.first.id) ? "" : "bottom-row inactive" %>">
    <%= render partial: "quize", locals: { q: q } %>
  </div>
<% end %>
<!--middle row end-->

<script type="text/javascript">
$(function(){
   $(".row").click(function(){
     $(this).addClass("selected");
  $(".selected ul li img").fadeOut(1800);
  $(".right-icon").css("display", "block");
     $(this).next('.main-container .row').removeClass("inactive") & $(".selected + .row").append('<div class="social-media-second"><a href="#"><img src="/assets/facebook_icon.png" /></a><a href="#"><img src="/assets/twitter.png" /></a></div>');
     $(this).prev().hide();
     $(".selected .social-media-second").addClass("social-media") & $(".selected .social-media-second").removeClass("social-media-second");
   });
 });
</script>
    

<script>
$(document).ready(function(){
  $(".first_answer_click").click(function() {
    var id = this.id
    $.ajax({
      type: 'POST',
      url: "/score_up",
      data:{ans_id: id, type: "fans"}
    });
    return false;
  });
  
  $(".second_answer_click").click(function() {
    var id = this.id
    $.ajax({
      type: 'POST',
      url: "/score_up",
      data:{ans_id: id, type: "sans"}
    });
    return false;
  });

  $(".vote_click").click(function() {
    var id = this.id
    $.ajax({
      type: 'POST',
      url: "/vote_up",
      data:{que_id: id}
    });
    return false;
  });  
});
</script>

