@charset "utf-8";

/* CSS Document */

@font-face {
  font-family: 'Effra';
  src: image-url('effra.eot');
  src: image-url('effra.eot?#iefix') format("embedded-opentype"), image-url('effra.woff') format("woff"), image-url('effra.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


a:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Effra';
  font-size: 14px;
}

hr {
  margin: 1px 0 0;
}

.padding-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header {
  background: #262626;
  width: 100%;
  min-height: 43px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
}

.main-container {
  width: 660px !important;
  min-height: 100px;
}

.top-row {
  background: #f7f7f7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  border-color: #D7D7D7;
  border-style: solid;
  border-width: 1px;
  p {
    text-align: center;
    color: #000;
    padding: 10px 0 0;
    span {
      color: #8b8b8b;
      font-size: 12px;
    }
  }
  ul {
    padding: 0;
    li {
      background: #FFFFFF;
      border-top: 1px solid #D7D7D7;
      color: #8B8B8B;
      float: left;
      list-style: none outside none;
      padding: 10px;
      width: 50%;
      &:first-child {
        border-right: 1px solid #D7D7D7;
        border-radius: 0 0 0 6px;
      }
      &:last-child {
        border-radius: 0 0 6px 0;
      }
      span {
        background: image-url("check_arrow.png") no-repeat 0 5px;
        display: inline;
        float: right;
        padding-left: 25px;
      }
    }
  }
}

.right-icon {
  background: image-url("check_arrow.png") no-repeat 0 5px;
  display: inline;
  float: right;
  padding-left: 25px;
}

.social-media {
  border: 1px solid #D7D7D7;
  border-radius: 0 6px 6px 0;
  padding: 8px 0 3px 9px;
  position: absolute;
  right: -78px;
  top: -1px;
  width: 78px;
  a {
    display: inline-block;
    width: 35%;
    margin-right: 8px;
    img {
      width: 100%;
    }
  }
}

.middle-row {
  margin-top: 30px;
  position: relative;
  p {
    border-color: #D7D7D7;
    border-radius: 6px 0 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    font-size: 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: relative;
    margin: 0;
    color: #000;
    span {
      font-size: 18px;
      color: #f34836;
      padding-left: 5px;
      small {
        font-size: 14px;
        color: #8b8b8b;
      }
      i {
        color: #8b8b8b;
        font-style: normal;
      }
    }
  }
}

.social-media-second {
  padding: 10px 0 15px 12px;
  right: -93px;
  top: 0;
  border: 1px solid #D7D7D7;
  border-radius: 0 6px 6px 0;
  position: absolute;
  width: 94px;
  a {
    padding-right: 8px;
    display: inline-block;
    width: 37px;
    img {
      width: 100%;
    }
  }
}

.product-selection {
  padding: 0;
  position: relative;
  overflow: hidden;
  margin: 0;
  li {
    float: left;
    list-style: none;
    position: relative;
    width: 50%;
    overflow: hidden;
    a img {
      height: 210px;
      width: 100%;
    }
    &:last-child a .choose-option {
      left: 0 !important;
    }
    &.active p, &:hover p {
      background-color: #f34836;
      color: #fff;
    }
    &.active a .choose-option, &:hover a .choose-option {
      background-position: 0 -110px !important;
    }
    &.active img, &:hover img {
      opacity: 0.5;
    }
    &.active a {
      color: #fff;
    }
    a {
      text-decoration: none;
      color: #000;
    }
    p {
      border: none;
      font-size: 18px;
      background-color: #e3e3e3;
      border-radius: 0;
      height: 42px;
      line-height: 42px;
      padding: 0;
    }
  }
}

.choose-option {
  background: image-url("like_sprite.png") no-repeat;
  display: block;
  height: 93px;
  position: absolute;
  right: 0;
  top: 48%;
  width: 90px;
  z-index: 999;
}

.or-div {
  background: image-url("or.png") no-repeat;
  height: 42px;
  left: 46%;
  position: absolute;
  width: 50px;
  display: block;
  z-index: 999;
}

.bottom-row {
  margin-top: 30px;
  p, li p {
    font-size: 14px;
  }
  p span small {
    font-size: 12px;
  }
}

.inactive a img {
  opacity: 0.3;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
}

/*.disable li.active a .choose-option {
  background-position:0 0 !important;
}
.disable li.active a, .disable:hover li a {
  color:#000;
}
.disable li.active p, .disable:hover li p {
    background-color: #e3e3e3;
  color:#000;
}*/

footer {
  background: #262626;
  width: 100%;
  min-height: 43px;
  border-top: 2px solid #D7D7D7;
  /*  position:fixed;*/
  bottom: 0;
  z-index: 1000;
  a {
    display: block;
    float: right;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 20%;
    padding-top: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.inactive {
  pointer-events: none;
}

.selected {
  margin-top: 0;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  p, strong {
    font-size: 14px !important;
    color: #000 !important;
    font-weight: normal;
    background-color: #F7F7F7;
    border-radius: 0;
  }
  p {
    height: 41px;
    line-height: 41px;
  }
  .social-media {
    top: 0;
    right: -77px;
  }
  span {
    color: #8B8B8B !important;
    font-size: 14px !important;
    margin-top: 12px;
    padding-right: 20px;
  }
  .choose-option, .or-div {
    display: none;
  }
  ul li {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    padding-left: 10px;
    p, &.active p, &:hover p {
      background-color: rgba(0, 0, 0, 0);
      text-align: left;
      padding-left: 10px;
    }
    border: #D7D7D7 solid 1px;
    border-radius: 0px 0 0 6px;
    &:last-child {
      border-left: none;
      border-radius: 0 0 6px 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .main-container {
    width: 84% !important;
    padding: 0 17px;
  }
  .top-row {
    font-size: 12px;
    p span {
      display: block;
    }
    ul li {
      padding: 10px 5px;
      span {
        background-size: auto 34%;
        padding-left: 15px;
      }
    }
  }
  .social-media {
    padding: 9px 5px 9px 4px;
    right: -25px;
    top: -1px;
    width: 25px;
    a {
      display: block;
      margin-bottom: 4px;
      width: 14px;
      img {
        width: 100%;
      }
    }
  }
  .product-selection li p {
    font-size: 12px;
  }
  .middle-row p {
    font-size: 14px;
    span {
      font-size: 14px;
    }
    height: 70px;
    line-height: 27px;
  }
  .selected {
    p {
      height: 55px;
      line-height: 12px;
      padding-top: 8px;
    }
    span {
      background-size: auto 50%;
      padding-left: 15px;
      padding-right: 4px;
    }
  }
  .middle-row p span {
    display: block;
  }
  .social-media-second {
    top: 0 !important;
    padding: 10px 2px !important;
    width: 25px;
    right: -25px;
    a {
      padding-right: 6px;
      width: 25px !important;
      margin: 3px 0;
    }
  }
  .selected {
    ul li {
      display: block;
      font-size: 11px !important;
      height: 45px;
      line-height: 12px;
      padding-left: 2px;
      padding-top: 6px;
      p, &.active p, &:hover p {
        display: block;
        font-size: 11px !important;
        height: 45px;
        line-height: 12px;
        padding-left: 2px;
        padding-top: 6px;
      }
      span {
        margin-top: 6px;
      }
    }
    .social-media {
      right: -25px;
    }
  }
  .product-selection li a img {
    height: 180px;
  }
}

@media (min-width: 320px) and (max-width: 700px) and (orientation: portrait) {
  .or-div {
    background-size: 70% 70%;
    left: 41%;
  }
  .product-selection li p {
    height: 29px;
    line-height: 29px;
  }
}

@media (min-width: 320px) and (max-width: 700px) and (orientation: landscape) {
  .social-media {
    right: -30px !important;
    width: 30px !important;
    a {
      width: 15px !important;
      margin-bottom: 3px !important;
    }
  }
  .social-media-second {
    right: -30px !important;
    width: 30px !important;
    padding: 5px 2px !important;
    a {
      width: 30px !important;
      margin-bottom: 3px !important;
    }
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .main-container {
    width: 75% !important;
  }
}
